*{
box-sizing:border-box;
margin:0;
padding:0;
}

html,body,#root{
height:100%;
}


body{
background:#060A14;
color:#E8F0FF;
font-family:Inter,Arial,sans-serif;
}


button{
cursor:pointer;
}


input,textarea{
outline:none;
}


::-webkit-scrollbar{
width:4px;
}


::-webkit-scrollbar-thumb{
background:#FF6B1A;
border-radius:20px;
}
